#u551-2,#u551-4,#u552-4
{
	font-family: open-sans-n6, sans-serif;
}

#u490-2,#u490-22,#u490-93
{
	font-family: open-sans-n7, sans-serif;
}

#u141-22,#u146-4,#u193-4,#u172-4,#u172-7,#u172-9,#u155-4,#u228-4,#u630-4,#u240-4,#u873-4,#u1033-8,#u1034-9,#u1035-10,#u1036-10,#u1037-2,#u1037-5,#u1037-7,#u1037-9
{
	font-family: open-sans-n4, sans-serif;
}

