.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1951px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -115px;
}

#u530
{
	z-index: 86;
	width: 3082px;
	padding-bottom: 0px;
	position: fixed;
	top: -7px;
	left: -1027px;
}

#u517
{
	z-index: 89;
	width: 3081px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 8px;
	position: relative;
}

#u519
{
	z-index: 90;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1047px;
}

#u527
{
	z-index: 87;
	width: 3080px;
	height: 16px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u528
{
	z-index: 88;
	width: 3081px;
	height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: #721012;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#ptop
{
	width: 0.01px;
	left: -122px;
	position: relative;
}

#top
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 20px;
}

#u105
{
	z-index: 29;
	width: 1227px;
	height: 97px;
	margin-right: -10000px;
	left: 22px;
}

#u1979
{
	z-index: 25;
	width: 3092px;
	position: fixed;
	top: 105px;
	left: -1027px;
}

#u1979_clip
{
	overflow: hidden;
	width: 3092px;
	height: 927px;
}

#u1979_img
{
	margin-right: -4px;
	margin-bottom: 300px;
}

#u146-4
{
	z-index: 52;
	width: 594px;
	min-height: 58px;
	font-size: 28px;
	color: #000000;
	letter-spacing: 1px;
	line-height: 34px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	margin-left: 509px;
	margin-top: 525px;
	position: relative;
}

#pu2990-18
{
	width: 0.01px;
	left: -48px;
	margin-top: 47px;
	position: relative;
}

#u2990-18
{
	z-index: 56;
	width: 1089px;
	min-height: 326px;
	color: #000000;
	letter-spacing: 1px;
	text-align: center;
	font-family: open-sans, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u2990-2
{
	font-size: 28px;
	line-height: 34px;
}

#u2990-6,#u2990-7,#u2990-11,#u2990-12,#u2990-16
{
	font-size: 24px;
	line-height: 29px;
}

#u3011
{
	z-index: 81;
	width: 64px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 422px;
	background: transparent url("../images/facebook.png") no-repeat left top;
	background-size: contain !important;
}

#u3011:hover
{
	margin: 297px -10000px 0px 0px;
	background: transparent url("../images/facebook2.png") no-repeat left top;
	background-size: contain !important;
}

#u3022
{
	z-index: 82;
	width: 64px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 297px;
	left: 596px;
	background: transparent url("../images/facebookmr.png") no-repeat left top;
	background-size: contain !important;
}

#u3022:hover
{
	margin: 297px -10000px 0px 0px;
	background: transparent url("../images/facebookmr2.png") no-repeat left top;
	background-size: contain !important;
}

#pu173-3
{
	width: 0.01px;
	left: -309px;
	margin-top: 23px;
	position: relative;
}

#u173-3
{
	z-index: 83;
	width: 5px;
	position: relative;
	margin-right: -10000px;
}

#u2282
{
	z-index: 32;
	width: 286px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 338px;
}

#u2307
{
	z-index: 38;
	width: 222px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 699px;
}

#u2362
{
	z-index: 27;
	width: 356px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 947px;
}

#pu2556
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 50px;
	position: relative;
}

#u2556
{
	z-index: 75;
	width: 236px;
	position: relative;
	margin-right: -10000px;
}

#u2538
{
	z-index: 46;
	width: 209px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 372px;
}

#u2538_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u2566
{
	z-index: 48;
	width: 284px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 670px;
}

#pu2561
{
	width: 0.01px;
	margin-left: 18px;
	margin-top: 44px;
	position: relative;
}

#u2561
{
	z-index: 77;
	width: 283px;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
}

#u2297
{
	z-index: 34;
	width: 209px;
	position: relative;
	margin-right: -10000px;
	left: 374px;
}

#u2302
{
	z-index: 36;
	width: 233px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 698px;
}

#pu2454
{
	width: 0.01px;
	margin-left: 19px;
	margin-top: 50px;
	position: relative;
}

#u2454
{
	z-index: 42;
	width: 250px;
	position: relative;
	margin-right: -10000px;
}

#u2302_img,#u2454_img
{
	padding-right: 1px;
}

#u2461
{
	z-index: 44;
	width: 270px;
	position: relative;
	margin-right: -10000px;
	left: 343px;
}

#u2367
{
	z-index: 40;
	width: 263px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 703px;
}

#pu2615
{
	width: 0.01px;
	margin-left: 55px;
	margin-top: 30px;
	position: relative;
}

#u2615
{
	z-index: 79;
	width: 180px;
	position: relative;
	margin-right: -10000px;
}

#u2649
{
	z-index: 50;
	width: 323px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 279px;
}

#u1093
{
	z-index: 30;
	width: 208px;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 721px;
}

#u1093_img
{
	padding-bottom: 1px;
}

#u2016
{
	z-index: 2;
	width: 2027px;
	height: 129px;
	top: 1953px;
	left: -511px;
}

#u1019-15
{
	z-index: 10;
	width: 581px;
	min-height: 43px;
	margin-left: 210px;
	margin-top: 72px;
}

#u866-7
{
	z-index: 3;
	width: 581px;
	min-height: 41px;
	margin-left: 209px;
	margin-top: 9px;
}

body
{
	padding-bottom: 132px;
}

